/* src/styles/global.css */
@import "tailwindcss";

/* Remove ugly outlines but maintain accessibility */
a,
button {
	outline: 0 !important;
}

button:hover {
	cursor: pointer;
}

/* Fix for number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/* The main centering container */
.centre-container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
