---
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';

const title = "DoctorPricer - Compare NZ GP prices"
---

<Layout title={title}>
  <main class="centre-container">
    <SearchForm />
  </main>
</Layout>
